* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: #1F062E;
}
a {
  text-decoration: none;
}
.container {
  padding: 111px 124px 0 125px;
  min-width: 1100px;
}
.menu {
  background: #fff;
  border-radius: 5px;
  font-size: 0;
  width: 900px;
  height: 120px;
  line-height: 50px;
}
.menu .menu-line-name {
  display: block;
  height: 10px;
  position: relative;
}
.menu li {
  display: inline-block;
  list-style: none;
  width: 150px;
  height: 100%;
  line-height: 120px;
  font-size: 14px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.menu li:hover {
  top: -5px;
  border-top: 5px solid #e92d00;
  border-bottom: 5px solid #e92d00;
}
.right-menu {
  float: right;
  width: 175px;
  height: auto;
  position: relative;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: italic;
}
.right-menu img {
  height: 145px;
  max-width: 175px;
  max-height: 130px;
}
.right-menu h1 {
  background: #fff;
  line-height: 46px;
  padding: 13px 0 0 13px;
}
.right-menu p {
  font-size: 0.8em;
  padding-left: 18px;
}
.right-menu h3 {
  background: #fff;
  padding: 0 0 12px 18px;
}
.right-menu ul li {
  list-style: none;
  background: #fff;
  line-height: 50px;
  height: 50px;
  font-size: 1em;
}
.right-menu ul li:nth-child(2n+1) {
  background: #848577;
}
.right-menu .span-number {
  float: right;
  font-weight: 100;
  width: 40px;
  font-size: 0.8em;
  padding-right: 12px;
}
.main-container {
  position: relative;
  border-radius: 5px;
  margin-top: 28px;
  width: 901px;
  height: 500px;
  background: #fff;
}
.main-container .carousel-apple {
  width: 600px;
  height: 408px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top: 5px solid orange;
  padding: 52px 0 0 40px;
}
.main-container .carousel-apple img {
  max-width: 280px;
  max-height: 408px;
  float: right;
  position: relative;
}
.main-container .fresh-start {
  width: 321px;
  float: left;
  text-align: center;
}
.main-container .fresh-start h1 {
  font-family: 'Monoton', cursive;
  color: #9C9859;
  text-align: left;
  font-size: 2.5em;
  font-weight: 100;
  padding: 5px 0 0 7px;
}
.main-container .fresh-start h2 {
  padding: 7px 0 0 2px;
  text-align: left;
  font-size: 1em;
  color: #ED3809;
  border-bottom: 1px solid #9C9859;
}
.main-container .fresh-start p {
  text-align: left;
  padding: 20px 80px 15px 5px;
}
.main-container .fresh-start i {
  padding: 0 3px 0 5px;
  float: left;
  color: black;
}
