* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: #1F062E;
}
a {
  text-decoration: none;
}
.container {
  padding: 111px 54px 0 125px;
  min-width: 1100px;
}
.menu {
  background: #fff;
  border-radius: 5px;
  font-size: 0;
  width: 900px;
  height: 120px;
  line-height: 50px;
}
.menu .menu-line-name {
  vertical-align: bottom;
  display: block;
  height: 10px;
  position: relative;
}
.menu li {
  display: inline-block;
  list-style: none;
  margin: auto;
  padding: 25px 0;
  width: 150px;
  height: 100%;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.menu li:hover {
  top: -5px;
  border-top: 5px solid #e92d00;
  border-bottom: 5px solid #e92d00;
}
.menu li a:hover {
  color: #e92d00;
}
.menu li a {
  color: #848577;
}
.right-menu {
  float: right;
  width: 175px;
  height: auto;
  position: relative;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: italic;
}
.right-menu img {
  height: 145px;
  max-width: 175px;
  max-height: 130px;
}
.right-menu h1 {
  background: #fff;
  line-height: 46px;
  padding: 13px 0 0 13px;
}
.right-menu p {
  font-size: 0.8em;
  padding-left: 18px;
}
.right-menu h3 {
  background: #fff;
  padding: 0 0 12px 18px;
}
.right-menu ul li {
  list-style: none;
  background: #fff;
  line-height: 50px;
  height: 50px;
  font-size: 1em;
}
.right-menu ul li:nth-child(2n+1) {
  background: #848577;
}
.right-menu .span-number {
  float: right;
  font-weight: 100;
  width: 40px;
  font-size: 0.8em;
  padding-right: 12px;
}
.right-menu-bottom-eats-kal {
  position: relative;
  margin-top: 24px;
  float: right;
  width: 176px;
  height: 197px;
  background: white;
  border-radius: 5px;
}
.right-menu-bottom-eats-kal img {
  width: 176px;
  max-width: 176px;
  max-height: 107px;
}
.main-container {
  position: relative;
  float: left;
  border-radius: 5px;
  margin-top: 28px;
  width: 900px;
  height: 500px;
  background: #fff;
}
.main-container .carousel-apple {
  float: left;
  width: 600px;
  height: 408px;
  background: #fff;
  border-top-left-radius: 5px;
  border-top: 5px solid orange;
}
.main-container .carousel-apple img {
  display: inline-block;
  max-width: 280px;
  max-height: 407px;
  float: right;
  position: relative;
}
.main-container .fresh-start {
  padding: 52px 0 0 40px;
  width: 240px;
  float: left;
  text-align: center;
}
.main-container .fresh-start .Natural-Food {
  font-family: 'Monoton', cursive;
  color: #9C9859;
  text-align: left;
  font-size: 2.5em;
  font-weight: 100;
  padding: 35px 0 0 7px;
  line-height: 41px;
}
.main-container .fresh-start h2 {
  padding: 8px 0 0 3px;
  text-align: left;
  font-size: 1em;
  color: #ED3809;
  border-bottom: 1px solid #9C9859;
}
.main-container .fresh-start p {
  text-align: left;
  padding: 3px 5px 15px 6px;
  font-size: 0.9em;
  line-height: 21px;
}
.main-container .fresh-start i {
  padding: 0 3px 0 5px;
  float: left;
  color: black;
}
.main-container .right-one-menu {
  width: 300px;
  height: 241px;
  float: right;
  background-image: url(../img/main-body/chili.png);
  border-top: 5px solid #C3986A;
}
.main-container .right-two-menu {
  width: 300px;
  height: 161px;
  float: right;
  background-image: url(../img/right-menu/spogetti.png);
  border-top: 5px solid #5FA430;
}
.main-container .bottom-container-and-three-blocks {
  display: inline-block;
  float: left;
  text-align: center;
}
.main-container .bottom-container-and-three-blocks .three-blocks {
  float: left;
  background: #AEAFA1;
  padding: 13px 57px 13px 42px;
  border-right: 1px solid silver;
  width: 200px;
  height: 61px;
}
.main-container .bottom-container-and-three-blocks .three-blocks i {
  border-radius: 50%;
  padding: 1px;
  border: 4px solid #CECEC4;
  background: white;
  color: #CECEC4;
  width: 45px;
  height: 45px;
  font-size: 1.6em;
  line-height: 50px;
}
.main-container .bottom-container-and-three-blocks .three-blocks p {
  float: right;
  font-size: 0.9em;
  padding-top: 20px;
  color: #fff;
}
