* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: #4E0A39;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  padding: 7.7% 3.3% 0 9.6%;
  max-width: 1280px;
}
.top-menu {
  position: relative;
  border-radius: 3px;
  width: auto;
  height: auto;
}
.top-menu li {
  display: inline-block;
  text-align: center;
  float: left;
  border-right: 1px solid silver;
  width: 13.55%;
  height: 100%;
  padding: 2.4% 0 1.6% 0;
  cursor: pointer;
  background: white;
  line-height: 184%;
}
.top-menu li i {
  color: #848577;
  font-size: 265%;
}
.top-menu li p {
  color: #848577;
  font-weight: 100;
}
.top-menu li:hover {
  border-top: 5px solid #e92d00;
  border-bottom: 5px solid #e92d00;
  padding-top: 1.6%;
  color: #e92d00;
}
.top-menu li:hover p {
  color: #e92d00;
}
.top-menu li:hover i {
  color: #e92d00;
}
.top-menu li:nth-child(1) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.top-menu li:nth-child(6) {
  border-right: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.right-top-menu {
  position: relative;
  width: 15.9%;
  border-radius: 3px;
  height: auto;
  background: white;
  float: right;
}
.right-top-menu img {
  width: 100%;
  min-height: 133px;
}
.right-top-menu h1 {
  padding: 7.8% 0 0 8%;
  font-size: 190%;
}
.right-top-menu p {
  padding: 0 0 12% 10%;
  font-size: 120%;
  font-weight: 900;
}
.right-top-menu ul {
  list-style: none;
}
.right-top-menu li {
  width: 82%;
  height: auto;
  padding: 8% 9% 10% 9%;
  float: left;
  font-size: 101%;
}
.right-top-menu span {
  padding-right: 2%;
  float: right;
  width: 26%;
}
.right-top-menu li:nth-child(2n+1) {
  background: #f5f5f5;
}
.main-container {
  display: block;
  position: relative;
  float: left;
  width: 81.8%;
  height: 61.9%;
  border-radius: 5px;
  margin-top: 2.6%;
}
.one-menu {
  display: block;
  float: left;
  position: relative;
  width: 66.8%;
  border-top: 5px solid orange;
  border-top-left-radius: 5px;
  background: white;
}
.one-menu h2 {
  margin: 9.5% 0 0 7.6%;
  font-weight: 100;
  color: red;
  font-size: 1.2em;
  border-bottom: 1px solid silver;
  width: 35%;
  padding-bottom: 2%;
}
.one-menu h2 i {
  font-size: 0.7em;
  padding: 3%;
  color: black;
}
.one-menu h1 {
  font-family: 'Monoton';
  line-height: 1em;
  color: #9a985d;
  margin: 3% 0 0 8%;
  font-size: 2.5em;
  width: 45%;
}
.one-menu p {
  margin: 3% 0 0 8%;
  width: 38%;
  line-height: 1.3em;
}
.one-menu img {
  position: relative;
  width: 46%;
  height: 100%;
  max-width: 46%;
  background-size: cover;
  float: right;
}
.two-menu {
  float: right;
  width: 33.2%;
  height: 47.5%;
  border-top: 5px solid green;
  border-top-right-radius: 5px;
  text-align: center;
  background: url(../img/main-body/chili.jpg);
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.two-menu h2 {
  color: white;
  padding-top: 7.8%;
}
.two-menu p {
  font-size: 1.2em;
  color: white;
}
.two-menu input {
  margin-top: 5%;
  border-radius: 5px;
  width: 65%;
  height: auto;
  padding: 4.5%;
  color: green;
}
.three-menu {
  float: right;
  width: 33.2%;
  height: 32.7%;
  border-top: 5px solid green;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.three-menu img {
  width: 100%;
  height: 100%;
}
.bottom-menu {
  display: block;
  float: inherit;
  width: 100%;
  height: 10.6%;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bottom-menu li {
  display: inline-block;
  border-right: 1px solid silver;
  background: #989989;
  color: white;
  font-weight: 500;
  float: left;
  width: 33.224%;
  height: 33%;
  padding: 3% 0 5% 0;
}
.bottom-menu i {
  font-size: 1.6em;
  border: 5px solid #D2D2CA;
  color: #989989;
  border-radius: 50%;
  padding: 2%;
  background: white;
  margin-right: 5%;
}
.bottom-menu li:nth-child(3) {
  border: none;
}
.bottom-menu li:nth-child(1) {
  border-bottom-left-radius: 5px;
}
.bottom-menu li:nth-child(3) {
  border-bottom-right-radius: 5px;
}
.right-bottom-two-menu {
  display: block;
  position: relative;
  float: right;
  width: 15.9%;
  height: auto;
  background: white;
  margin-top: 2.3%;
  border-radius: 5px;
}
.right-bottom-two-menu img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 107px;
}
.right-bottom-two-menu ul {
  list-style: none;
}
.right-bottom-two-menu li {
  display: inline-block;
  text-align: center;
  border-right: 1px solid silver;
  float: left;
  width: 49%;
  height: 100%;
  padding: 11% 0;
}
.right-bottom-two-menu li:nth-child(2) {
  border: none;
}
.right-bottom-two-menu span {
  display: inherit;
  font-size: 1.4em;
  font-weight: 900;
}
/* Ноутбуки */
@media (max-width: 1279px) {
  .main-container {
    height: 78.5%;
    border-radius: 5px;
  }
  .one-menu {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    float: none;
  }
  .one-menu img {
    width: 50%;
    height: 100%;
  }
  .one-menu h2 {
    margin-top: 1%;
    margin-left: 4%;
    text-align: center;
  }
  .one-menu h1 {
    margin-top: 1%;
    margin-left: 4%;
    text-align: center;
  }
  .one-menu p {
    margin-top: 1%;
    margin-left: 4%;
    text-align: center;
    padding-bottom: 2%;
  }
  .two-menu {
    display: block;
    float: left;
    width: 50%;
    height: 35%;
    border-radius: 0;
  }
  .three-menu {
    width: 50%;
    height: 35%;
  }
  .three-menu li {
    display: inherit;
  }
  .bottom-menu {
    width: 100%;
    height: 6%;
  }
  .bottom-menu li {
    width: 33.16%;
    height: 70%;
  }
}
/* Планшеты */
@media (max-width: 950px) {
  .main-container {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .right-top-menu li {
    width: 93%;
    height: auto;
    padding: 10% 3% 10px 4%;
    float: left;
    font-size: 80%;
  }
  .right-top-menu li span {
    padding-right: 0;
    float: right;
    width: 36%;
  }
  .right-top-menu li h1 {
    padding: 7.8% 0 0 8%;
    font-size: 150%;
  }
  .bottom-menu li {
    padding: 9% 0;
    width: 33%;
    height: 100%;
  }
}
/* Телефоны */
@media (max-width: 650px) {
  .container {
    padding: 5%;
  }
  .top-menu {
    width: 100%;
    height: 6%;
    margin-bottom: 5%;
  }
  .top-menu li {
    font-size: 0.6em;
    padding: 2% 1.4% 0 1.4%;
  }
  .top-menu li:hover {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
  }
  .top-menu li i {
    font-size: 135%;
  }
  .right-top-menu {
    display: inherit;
    width: auto;
    height: auto;
    float: none;
    margin-bottom: 5%;
  }
  .right-top-menu p {
    text-align: center;
    padding: 0 0 3% 8%;
    font-size: 120%;
    font-weight: 900;
  }
  .right-top-menu li {
    width: 93.2%;
    height: auto;
    padding: 6% 3% 0 3.8%;
    float: left;
    font-size: 110%;
    background: white;
  }
  .right-top-menu li span {
    font-size: 140%;
    width: 22%;
  }
  .right-top-menu h1 {
    text-align: center;
    padding: 1% 0;
    font-size: 270%;
  }
  .bottom-menu li {
    padding: 9% 0;
    width: 33%;
    height: 100%;
  }
  .one-menu {
    width: 100%;
    height: 40%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .one-menu img {
    width: 100%;
    height: 100%;
  }
  .main-container {
    display: block;
    width: 100%;
    height: 100%;
  }
  .right-bottom-two-menu {
    margin: -50px 0 3% 0;
    width: 100%;
    height: 18%;
  }
  .right-bottom-two-menu li {
    display: inline-block;
    float: left;
    width: 49%;
    height: 100%;
    padding: 0;
  }
}
