@colorIcons: #e92d00;
@colorText: #848577;
@white: #fff;
@bkgColor: #1F062E;
@orange: orange;
@border-bottom: #9C9859;

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: @bkgColor;
}

a {
  text-decoration: none;
}

.container {
  padding: 111px 38px 0 125px;
  min-width: 1100px;
}

.menu {
  background: @white;
  border-radius: 5px;
  font-size: 0;
  width: 900px;
  height: 120px;
  line-height: 50px;
  .menu-line-name {
    vertical-align: bottom;
    display: block;
    height: 10px;
    position: relative;
  }
  & li {
    display: inline-block;
    list-style: none;
    margin: auto;
    padding: 25px 0;
    width: 150px;
    height: 100%;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    position: relative;
    cursor: pointer;
    &:hover {
      top: -5px;
      border-top: 5px solid @colorIcons;
      border-bottom: 5px solid @colorIcons;
    }
    & a:hover {
      color: @colorIcons;
    }
    & a {
      color: @colorText;
    }
  }
}

.right-menu {
  float: right;
  width: 175px;
  height: auto;
  position: relative;
  border: 1px solid @white;
  border-radius: 3px;
  font-family: italic;
  & img {
    height: 145px;
    max-width: 175px;
    max-height: 130px;
  }
  & h1 {
    background: @white;
    line-height: 46px;
    padding: 13px 0 0 13px;
  }
  & p {
    font-size: 0.8em;
    padding-left: 18px;
  }
  & h3 {
    background: @white;
    padding: 0 0 12px 18px;
  }
  & ul li {
    list-style: none;
    background: @white;
    line-height: 50px;
    height: 50px;
    font-size: 1em;
  }
  & ul li:nth-child(2n+1) {
    background: @colorText;
  }
  .span-number {
    float: right;
    font-weight: 100;
    width: 40px;
    font-size: 0.8em;
    padding-right: 12px;
  }
}

.main-container {
  position: relative;
  border-radius: 5px;
  margin-top: 28px;
  width: 901px;
  height: 500px;
  background: @white;
  .carousel-apple {
    width: 600px;
    height: 408px;
    background: @white;
    border-top-left-radius: 5px;
    border-top: 5px solid @orange;
    padding: 52px 0 0 40px;
    & img {
      max-width: 280px;
      max-height: 408px;
      float: right;
      position: relative;
    }
  }
  .fresh-start {
    width: 321px;
    float: left;
    text-align: center;
    & h1 {
      font-family: 'Monoton', cursive;
      color: #9C9859;
      text-align: left;
      font-size: 2.5em;
      font-weight: 100;
      padding: 5px 0 0 7px;
    }
    & h2 {
      padding: 7px 0 0 2px;
      text-align: left;
      font-size: 1em;
      color: #ED3809;
      border-bottom: 1px solid @border-bottom;
    }
    & p {
      text-align: left;
      padding: 20px 80px 15px 5px;
    }
    & i {
      padding: 0 3px 0 5px;
      float: left;
      color: black;
    }
  }
}